<div class="container">
  <div class="navbar navbar-inverse">
      <h1 id="header">Book Smart</h1>
      <h3>The 2 cents on what to read and what to avoid</h3>

      <a id="navbar" class="navbar-brand text-muted" href="/">Home</a>

      <a id="navbar" class="navbar-brand text-muted" href="/new-book">Add a Book</a>

      <a id="navbar" class="navbar-brand text-muted" href="/favorites">Make a Favorites List</a>
  </div>
  {{outlet}}
  <hr>
</div>
