<div class="container">
  <h2>Who Do You Love?</h2>
  <h4>Build a List</h4>
  <br>

  <ul>
    {{#each model as |book|}}
      {{choice-tile book=book}}
    {{/each}}
  </ul>

  {{favorites-display book=model}}
</div>
